<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous" />

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>

  <link rel="stylesheet" href="./Home.css" />
  <title>Garagem</title>
</head>

<body>
  <main>
    <nav class="navbar navbar-expand-lg">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">MPNCar</a>

        <div class="collapse navbar-collapse py-3" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active text-white" aria-current="page" href="#">Home</a>
            </li>

            <li class="nav-item">
              <a class="nav-link active text-white" aria-current="page" href="../car/CarMain.html">Vehicles</a>
            </li>

            <li class="nav-item">
              <a class="nav-link active text-white" aria-current="page" href="../User/UserMain.html">Users</a>
            </li>

            <li class="nav-item">
              <a class="nav-link active text-white" aria-current="page" href="#">Sales</a>
            </li>
          </ul>

          <form class="d-flex" role="search">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" />
            <button class="btn btn-outline-success" type="submit">
              Search
            </button>
            <button type="button" class="btn btn-outline-danger mx-3">
              Danger
            </button>
          </form>
        </div>
      </div>
    </nav>

    <div class="album py-5 bg-light">
      <section class="pb-5 text-center">
        <h1>Vehicles for sale</h1>
      </section>

      <div class="container">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
          <div class="col">
            <div class="card ${pokemon.type}" id="${pokemon.id}" name="${pokemon.nickName}">
              <div class="card-body">
                <h5 class="card-title">Vectra</h5>
                <h6 class="card-subtitle mb-2 text-muted">Chevrolet</h6>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item px-0">Year: </li>
                  <li class="list-group-item px-0">KM Traveled: </li>
                  <li class="list-group-item px-0">Plate: </li>
                  <li class="list-group-item px-0">Price: </li>
                  <li class="list-group-item px-0">Owner: </li>
                </ul>

                <div class="mt-5">
                  <button class="btn mx-auto btn-buy">Buy</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="container">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
          <div class="col">
            <div class="card ${pokemon.type}" id="${pokemon.id}" name="${pokemon.nickName}">
              <div class="card-body" id="info">

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>
</body>

</html>