body {
    width: 100%;
    height: 100vh;
    background-color: #f8f9fa;
}
nav {
    background-color: #000;
}
.btn-save {
    background-color: #fe6e04;
}
.btn-logout {
    border: 1px solid #fe6e04;
    color: #fe6e04;
}
a {
    font-size: 1.5rem;
    color: #fe6e04;
}

h1 {
    color: #fe6e04;
    font-weight: 700;
}